.connect-section-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	#connect {
		margin-top: 40px;
		width: 300px;
		padding: 40px;
	}
}

.connect-card {
	display: flex;
	flex-direction: column;
	background: #fff;
	height: auto;
	width: 40vw;
	border-radius: 12px;
	border: 1px solid #ddd;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
	align-items: center;

	h1 {
		padding: 10px;
	}

	h2 {
		padding: 10px;
	}
}

.connect-btns {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	width: auto;
	img {
		width: 3vw;
		padding: 20px;
	}
}

@media only screen and (max-width: 650px) {
	.connect-card {
		width: 300px;
	}
	.connect-btns {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		width: auto;
		img {
			width: 25px;
			padding: 20px;
		}
	}
}
