.home {
	display: flex;
	height: 100vh;
	margin: 0 60px;
	flex-direction: column;
	align-items: center;

	#laptop {
		margin-top: 200px;
		width: 40vw;
	}

	#chevron {
		margin-top: 80px;
		width: 3vw;
		padding: 20px;
	}
}

.home #about {
	display: flex;
	margin-top: 150px;
}

.left-side {
	grid-area: left;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}

.left-side img {
	color: var(--highlight-color);
	width: 25px;
}

@media only screen and (max-width: 850px) {
	.home {
		display: flex;
		height: 500px;
		margin: 0 60px;
		flex-direction: column;
		align-items: center;

		#laptop {
			margin-top: 200px;
			width: 250px;
		}

		#chevron {
			margin-top: 80px;
			width: 30px;
			padding: 20px;
		}
	}
}
