.navbar {
	position: fixed;
	display: flex;
	width: 100%;
	padding: 8px;
	box-sizing: border-box;
	background-color: #fff;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
}

.navbar .right-side {
	display: flex;
	align-items: center;

	#toggle {
		display: none;
	}
}
.navbar .links {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.navbar .logo {
	color: var(--heading-color);
	letter-spacing: 3px;
	display: flex;
	align-items: center;
	/* margin-left: 50px; */
	margin-right: auto;
}

.navbar .logo h1 {
	color: var(--highlight-color);
	font-weight: 200;
}

.navbar .logo img {
	width: 150px;
}
.navbar a {
	color: var(--text-color);
	text-decoration: none;
	margin-right: 40px;
	font-size: 0.75em;
}

.navbar a:hover {
	color: var(--highlight-color);
	cursor: pointer;
}

.navbar span {
	color: var(--highlight-color);
}

@media only screen and (max-width: 950px) {
	.navbar a {
		font-size: 0.5em;
		margin-right: 15px;
	}
}

@media only screen and (max-width: 650px) {
	.navbar .right-side #toggle {
		display: flex;
		margin-right: 20px;
	}

	.navbar .right-side .links {
		display: none;
	}
	.navbar .right-side #hidden {
		display: flex;
		position: absolute;
		top: 80px;
		background: #fff;
		padding: 10px;
		flex-direction: column;
		align-items: flex-start;
		height: 200px;
		max-height: 200px;
	}
}
